<div id="{{ dialogId }}" class="{{ dialogClass }}"
     data-controller="alpdeskdialog"
     data-action="click->alpdeskdialog#backdropClose"
     data-alpdeskdialog-opendelay-value="{{ dialogOpenDelay }}"
     data-alpdeskdialog-scrolldelay-value="{{ dialogScrollDelay }}"
     data-alpdeskdialog-modal-value="{{ dialogModal }}"
     data-alpdeskdialog-storagekey-value="{{ dialogStorageKey }}"
     data-alpdeskdialog-storageexpires-value="{{ dialogStorageExpires }}"
     data-alpdeskdialog-position="{{ dialogPosition }}"
     data-alpdeskdialog-modalposition="{{ dialogModal }}-{{ dialogPosition }}"
>

    <dialog class="alpdeskDialogOpen" data-alpdeskdialog-target="dialog"
            data-alpdeskdialog-modal-value="{{ dialogModal }}">

        <div class="alpdeskDialogClose">
            <button data-action="alpdeskdialog#close">
                <img src="{{ closeIconUrl }}" alt="" title="" width="30">
            </button>
        </div>

        <div class="alpdeskDialogContent">
            {{ dialogContent | raw }}
        </div>

    </dialog>

    {% if dialogOpenButtonLabel != '' %}
        <button type="button" class="alpdeskDialogOpenAction"
                data-action="alpdeskdialog#open">{{ dialogOpenButtonLabel }}</button>
    {% endif %}

</div>