{% block dialog_wrapper %}

    <div id="{{ dialogId }}" class="{{ dialogClass }}"
         data-controller="alpdeskdialog"
         data-action="click->alpdeskdialog#backdropClose"
         data-alpdeskdialog-opendelay-value="{{ dialogOpenDelay }}"
         data-alpdeskdialog-scrolldelay-value="{{ dialogScrollDelay }}"
         data-alpdeskdialog-modal-value="{{ dialogModal }}"
         data-alpdeskdialog-storagekey-value="{{ dialogStorageKey }}"
         data-alpdeskdialog-storageexpires-value="{{ dialogStorageExpires }}"
         data-alpdeskdialog-position="{{ dialogPosition }}"
         data-alpdeskdialog-modalposition="{{ dialogModal }}-{{ dialogPosition }}"
    >

        {% block dialog %}

            <dialog class="alpdeskDialogOpen" data-alpdeskdialog-target="dialog"
                    data-alpdeskdialog-modal-value="{{ dialogModal }}">

                {% block dialog_close %}

                    <div class="alpdeskDialogClose">

                        {% block dialog_close_action %}

                            <button data-action="alpdeskdialog#close">
                                <img src="{{ closeIconUrl }}" alt="" title="" width="30">
                            </button>

                        {% endblock %}

                    </div>

                {% endblock %}

                {% block dialog_content %}

                    <div class="alpdeskDialogContent">
                        {{ dialogContent | raw }}
                    </div>

                {% endblock %}

            </dialog>

        {% endblock %}

        {% block dialog_open %}

            {% if dialogOpenButtonLabel != '' %}
                <button type="button" class="alpdeskDialogOpenAction"
                        data-action="alpdeskdialog#open">{{ dialogOpenButtonLabel }}</button>
            {% endif %}

        {% endblock %}

    </div>

{% endblock %}