<div id="{{ dialogId }}" class="{{ dialogClass }}" data-controller="alpdeskdialog"
     data-action="click->alpdeskdialog#backdropClose" data-alpdeskdialog-opendelay-value="{{ dialogOpenDelay }}"
     data-alpdeskdialog-scrolldelay-value="{{ dialogScrollDelay }}">

    <dialog class="alpdeskDialogOpen" data-alpdeskdialog-target="dialog"
            data-alpdeskdialog-preventScroll="{{ dialogPreventScroll }}"
            data-alpdeskdialog-backdrop="{{ dialogBackdrop }}" data-alpdeskdialog-position="{{ dialogPosition }}">

        <div class="alpdeskDialogClose">
            <button data-action="alpdeskdialog#close" autofocus>
                <img src="{{ closeIconUrl }}" alt="" title="" width="30">
            </button>
        </div>

        <div class="alpdeskDialogContent">
            {{ dialogContent | raw }}
        </div>

    </dialog>

    {% if dialogOpenButtonLabel != '' %}
        <button type="button" class="alpdeskDialogOpenAction"
                data-action="alpdeskdialog#open">{{ dialogOpenButtonLabel }}</button>
    {% endif %}

</div>